{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
<section class="beige-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Coffee Roasting Events (Hot, Hot, Hot)</h1>
			</div>
		</div>
		<div class="row">
			<f:for each="{events}" as="event">
				<ts:render path="eventRenderer" context="{node: event}" />
				<f:section name="singleEvent">
					<div class="article-list-element">
						<h2>{title}</h2>
						<p>{eventDate -> f:format.date()}</p>
						<p><a class="btn btn-default" href="{neos:uri.node(node: node)}">Details about this</a></p>
					</div>
				</f:section>
			</f:for>
		</div>
	</div>
</section>